<div class="row header">
  <div class="col-sm">
    <h4>Productos</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm list-action-button">
    <a href="#" routerLink="add" class="btn btn-link float-right fa fa-file fa-lg action-label">Agregar/Editar Producto</a>
  </div>
</div>

<div class="row content">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">item</th>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Visualizar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.purchaseRate }}</td>
          <td><button class='fa fa-eye' (click)='viewProduct(product)' > Ver detalles</button></td>
          <td><button class='delete-label fa fa-trash-o' (click)='deleteProduct(product)' >Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>